# Node variables
NODE_ENV=development
PORT=3000

# MongoDB variables
## Instructions: Connect to the mongo instance and create a databse and admin credentials for your database.
DB_CONNECTION=mongodb
DB_USERNAME=<dbname_dba>
DB_PASSWORD=<dbname_dba_password>
DB_HOST=127.0.0.1
DB_PORT=27017
DB_NAME=<dbname>

# JWT variables
## Instructions: Generate (at least) a 64-length secret key.
JWT_SECRET=<64_length_secret_key>
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

# Mailtrap variables
## Instructions: Create and set up a Mailtrap account.
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=25
EMAIL_FROM_NAME=
EMAIL_FROM_EMAIL=

# SendGrid variables
## Instructions: Create and set up a SendGrid account.
SENDGRID_USERNAME=apikey
SENDGRID_PASSWORD=

# Stripe variables
## Instructions: Create and set up a Stripe account.
STRIPE_SECRET_KEY=
STRIPE_PRIVATE_KEY=
